.glossary {
  margin-top: 150px;

  .wrapper{
    background: linear-gradient(to top right, #e0cccc 10%, white 100%);
    margin-top: 40px;
    position: relative;
    padding-bottom: 40px;

  }
}

.description{

  max-width: 70%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2{
    text-transform: uppercase;
    font-family: 'Actor', sans-serif;
    font-size: 90px;
    font-weight: 400;
    letter-spacing: 1.5px;

  }
  p{
    max-width: 450px;
    font-family:'Aclonica', sans-serif;
    line-height: 1.5;
    position: relative;

    &::before{
      content: '';
      position: absolute;
      width: 1px;
      height: 72px;
      background: #22BF95;
      left: -30px;
    }
  }
}