* {
  box-sizing: border-box;
  font-family: Acme, sans-serif;
  scroll-behavior: smooth;
}
body,
p,
h1,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
