.more-question {
  display: grid;
  grid-template-columns: repeat(2, 50%);

  .img-wrapper {
    z-index: -1;
    img {
      width: 100%;
    }
  }

  .text-wrapper {
    font-family: Aclonica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3,
    p {
      max-width: 470px;
      text-align: left;
    }
    h3 {
      font-size: 42px;
      letter-spacing: 1px;
    }
    p {
      font-size: 16px;
      padding-top: 40px;
    }
  }
}
