.security-alert {
  display: grid;
  grid-template-areas:
    "text"
    "img"
    "btn";
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;
  @include tablet {
    grid-template-areas:
      "img text"
      "img btn";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 350px auto;
  }

  .img-wrapper {
    max-width: 600px;
    grid-area: img;
  }

  .text-wrapper {
    text-align: left;
    padding: 120px 0 100px 50px;
    font-family: Aclonica, sans-serif;
    grid-area: text;

    .paragraph {
      padding-top: 40px;
      max-width: 470px;
    }
  }

  .btn-wrapper {
    grid-area: btn;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 470px;
    flex-direction: column;
    margin: 30px auto;
    @include tablet {
      align-items: center;
    }
    @include desktop {
      align-items: flex-start;
    }

    .btn {
      border-color: $accent;
      box-shadow: $btnShadow;

      &:first-of-type {
        min-width: 150px;
        text-align: center;
        margin-bottom: 20px;
      }
    }

    @include desktop {
      flex-direction: row;
      justify-content: space-around;
      max-width: unset;
      margin: 0;
    }
  }
}
