$mainColor: #7f7f7f;
$lightMain: #e5e5e5;
$accent: #22bf95;

$footerBG: #f2f2f2;

$gradientColor1: #50cdd7;
$gradientColor2: #55e955;

$btnShadow: 0 6px 12px rgba(127, 127, 127, 0.3);
$btnHoverShadow: 0 6px 20px rgba(127, 127, 127, 0.3);
